html {
  border: 10px solid blue;
  margin: 10px;
}
body {
  background: #333;
  color: #ddd;
  border: 5px solid red;
}

#wrapper {
  display: flex;
  height: 600px;
  overflow: scroll;
  border: 5px solid green;
  box-sizing: border-box;
  /* scroll-behavior: smooth; */
}

#wrapper-wrapper {
  height: 600px;
  overflow-y: scroll;
  border: 5px solid orange;
  box-sizing: border-box;
}

article {
  margin: 1rem;
}

#toc-main {
  flex-shrink: 0;
  position: sticky;
  top: 0;
}

#tocHolder {
  background: #111;
  width: 240px;
  border: 1px solid yellow;
  border-top: 50px solid yellow;
  padding: 1rem;
  position: relative;
  height: 300px;
  overflow-y: auto;
  padding-block: 20px;
  margin-top: 50px;
  overscroll-behavior: contain;
  /* scroll-behavior: smooth; */
}
