.nt-root-ul {
  --font-size-percentage: 94;
  --toggle-fold-btn-width: 0.9em; /* should in em unit */
  --indent-padding: 10px; /* should be in px unit */
  --folding-duration: 300ms;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  a {
    padding-inline: 0.125em;
    color: #ddd;
    align-self: center;
  }
}

li li {
  font-size: calc(var(--font-size-percentage) * 1%);
}

.nt-foldable {
  display: grid;
  transition:
    grid-template-rows var(--folding-duration),
    border var(--folding-duration);
  border-top: 1px solid transparent;
  grid-template-rows: 1fr;
}

.nt-foldable ul {
  transition: opacity var(--folding-duration);
}

.nt-foldable-folded {
  grid-template-rows: 0fr;
  border-top: 1px solid gray;
}

.nt-foldable-folded ul {
  opacity: 0;
}

.nt-foldable > ul {
  overflow: hidden;
  grid-row: 1 / span 2;
  margin-top: -1px;
}

.nt-toggle-fold-btn {
  border: none;
  color: #eee;
  padding: 0;
  padding-inline: 1px;
  grid-column: -3;
  cursor: pointer;
  svg {
    vertical-align: middle;
    transition: transform var(--folding-duration);
  }
}

.nt-toggle-fold-btn:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

.nt-toggle-fold-btn:hover {
  background: deepskyblue;
  color: darkslategrey;
}

.nt-toggle-fold-btn-folded svg {
  transform: rotate(-90deg);
}

.nt-unfoldable-icon {
  color: #eee;
  grid-column: -3;
  svg {
    vertical-align: middle;
  }
}

.nt-non-foldable {
  /* background: lightblue; */
  display: grid;
  cursor: pointer;
  border-radius: 3px;
  grid-template-rows: 1fr;
  a {
    grid-column: -2;
  }
}

.nt-non-foldable:hover {
  background: teal;
  a {
    color: white;
  }
}

.nt-indent-block {
  box-sizing: border-box;
  border-right: 1px solid #eee;
}

.nt-indent-block:not(:first-child) {
  grid-column: span 2;
}

.nt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/* custom styles below */

.outline-marker {
  --width: 1.5px;
  --terminal-side-length: 6px;
  background: orange;
  position: absolute;
  width: var(--width);
  height: 0px;
  left: 5px;
  /* transition: 50ms; */
}

.outline-marker-bottom {
  background: orange;
  position: absolute;
  width: var(--terminal-side-length);
  height: var(--terminal-side-length);
  border-radius: 50%;
  bottom: calc(var(--terminal-side-length) / 2 * -1);
  left: calc(
    (var(--terminal-side-length) / 2 * -1) + var(--width) / 2
  ); /* -2px */
}

.outline-marker-top {
  background: orange;
  position: absolute;
  width: var(--terminal-side-length);
  height: var(--terminal-side-length);
  border-radius: 50%;
  top: calc(var(--terminal-side-length) / 2 * -1);
  left: calc(
    (var(--terminal-side-length) / 2 * -1) + var(--width) / 2
  ); /* -2px */
}
