.tm-anchor {
  text-decoration: none;
}

.tm-li-container {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.tm-li-container .tm-li-container {
  padding-left: 1rem;
}

.tm-foldable-div {
  display: grid;
  transition:
    grid-template-rows 200ms,
    border 200ms;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  grid-template-rows: 1fr;
}

.tm-foldable-div ul {
  transition: opacity 200ms;
}

.tm-foldable-div-folded {
  grid-template-rows: 0fr;
}

.tm-foldable-div-folded ul {
  opacity: 0;
}

.tm-foldable-div > ul {
  overflow: hidden;
  grid-row: 1 / span 2;
  margin-top: -1px;
}

/* custom styles below */

.outline-marker {
  --width: 1.5px;
  --terminal-side-length: 6px;
  background: orange;
  position: absolute;
  width: var(--width);
  height: 0px;
  left: 5px;
}

.outline-marker-bottom {
  background: orange;
  position: absolute;
  width: var(--terminal-side-length);
  height: var(--terminal-side-length);
  border-radius: 50%;
  bottom: calc(var(--terminal-side-length) / 2 * -1);
  left: calc(
    (var(--terminal-side-length) / 2 * -1) + var(--width) / 2
  ); /* -2px */
}

.outline-marker-top {
  background: orange;
  position: absolute;
  width: var(--terminal-side-length);
  height: var(--terminal-side-length);
  border-radius: 50%;
  top: calc(var(--terminal-side-length) / 2 * -1);
  left: calc(
    (var(--terminal-side-length) / 2 * -1) + var(--width) / 2
  ); /* -2px */
}
