@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 240 4.8% 95.9%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

/* Github from css code style */
:root {
  --ch-0: dark;
  --ch-1: #8b949e;
  --ch-2: #79c0ff;
  --ch-3: #ffa657;
  --ch-4: #c9d1d9;
  --ch-5: #d2a8ff;
  --ch-6: #7ee787;
  --ch-7: #ff7b72;
  --ch-8: #a5d6ff;
  --ch-9: #ffa198;
  --ch-10: #f0f6fc;
  --ch-11: #490202;
  --ch-12: #04260f;
  --ch-13: #5a1e02;
  --ch-14: #161b22;
  --ch-15: #8b949e;
  --ch-16: #0d1117;
  --ch-17: #6e76811a;
  --ch-18: #ffffff0b;
  --ch-19: #3794ff;
  --ch-20: #264f78;
  --ch-21: #1f6feb;
  --ch-22: #010409;
  --ch-23: #30363d;
  --ch-24: #6e7681;
  --ch-25: #6e768166;
  --ch-26: #0d1117e6;
}

:root.light {
  --ch-0: light;
  --ch-1: #6e7781;
  --ch-2: #0550ae;
  --ch-3: #953800;
  --ch-4: #24292f;
  --ch-5: #8250df;
  --ch-6: #116329;
  --ch-7: #cf222e;
  --ch-8: #0a3069;
  --ch-9: #82071e;
  --ch-10: #f6f8fa;
  --ch-11: #ffebe9;
  --ch-12: #dafbe1;
  --ch-13: #ffd8b5;
  --ch-14: #eaeef2;
  --ch-15: #57606a;
  --ch-16: #ffffff;
  --ch-17: #eaeef280;
  --ch-18: #fdff0033;
  --ch-19: #1a85ff;
  --ch-20: #add6ff;
  --ch-21: #0969da;
  --ch-22: #f6f8fa;
  --ch-23: #d0d7de;
  --ch-24: #8c959f;
  --ch-25: #afb8c133;
  --ch-26: #ffffffe6;
}

/* Neotoc styles */
/* THEMING  */
/** COLORS **/

:root.light .nt-widget {
  --bg: hsl(0 0% 97%);
  --fg: hsl(240 3.8% 36.1%);
  --bg-anchor-hover: hsl(240 5.9% 87%);
  --bg-anchor-active: var(--bg-anchor-hover);
  --bg-sub-anchors: hsl(240 4.8% 92%);
  --bg-header-btn: var(--bg);
  --bg-header-btn-hover: hsl(240 4.8% 95.9%);
  --bg-header-btn-active: var(--bg-header-btn-hover);
  --bg-header-btn-disabled: var(--bg);
  --fg-header-btn-disabled: hsl(240 3.8% 66.1%);
  --border-header-btn: hsl(240 5.9% 90%);
  --bg-toggle-fold-btn-hover: var(--bg-sub-anchors);
  --bg-toggle-fold-btn-active: var(--bg-toggle-fold-btn-hover);
  --indent-line: hsl(240 4.9% 75%);
  --indent-line-highlight: hsl(240 4.9% 60%);
  --fold-indicator-gradient-mid: hsl(240 5.9% 80%);
  --light-bar: hsl(210 60% 68%);
  --light-bar-tip-on-fold: hsl(240 99% 88%);
  --light-opacity: 0.2;
}

:root.dark .nt-widget {
  --bg: hsl(240 10% 6.9%);
  --fg: hsl(240 5% 74.9%);
  --bg-anchor-hover: hsl(240 3.7% 15.9%);
  --bg-anchor-active: var(--bg-anchor-hover);
  --bg-sub-anchors: hsl(240 5.9% 10%);
  --bg-header-btn: var(--bg);
  --bg-header-btn-hover: hsl(240 3.7% 15.9% / 50%);
  --bg-header-btn-active: var(--bg-header-btn-hover);
  --bg-header-btn-disabled: var(--bg);
  --fg-header-btn-disabled: hsl(240 5% 34.9%);
  --border-header-btn: hsl(240 3.7% 15.9%);
  --bg-toggle-fold-btn-hover: var(--bg-sub-anchors);
  --bg-toggle-fold-btn-active: var(--bg-toggle-fold-btn-hover);
  --indent-line: hsl(240 3.7% 28%);
  --indent-line-highlight: hsl(240 5.2% 49%);
  --fold-indicator-gradient-mid: hsl(240 5.9% 30%);
  --light-bar: hsl(210 60% 68%);
  --light-bar-tip-on-fold: hsl(240 99% 88%);
  --light-opacity: 0.2;
}

/* Override colors when viewport width is 768px or up */
@media (min-width: 768px) {
  :root.light .nt-widget {
    --bg: hsl(0 0% 100%);
    --bg-anchor-hover: hsl(240 5.9% 90%);
    --bg-sub-anchors: hsl(240 4.8% 95.9%);
  }
  :root.dark .nt-widget {
    --bg: hsl(240 10% 3.9%);
  }
}

/** SIZES AND DURATION **/

.nt-widget {
  --height: calc(
    100vh - var(--site-header-height) - var(--top-breathing-space) -
      var(--bottom-breathing-space)
  ); /* Here these CSS vars are coming from outside. */
  --header-height: 3rem;
  --relative-font-size: 94; /* do not use percentage sign */
  --toggle-fold-btn-width: 1.7em; /* should in em unit */
  --indent-line-gap: 2px; /* should be in px unit */
  --indent-line-width: 1px;
  --anchor-padding-block: 0.4em;
  --anchor-padding-inline: 0.3em;
  --anchor-border-radius: 6px;
  --padding-left: 1.5rem;
  --light-bar-width: 4px;
  --light-bar-tip-radius: 2px;
  --light-spread-length: 250px;
  --folding-duration: 0.3s;
}

@media (min-width: 768px) {
  .nt-widget {
    --toggle-fold-btn-width: 1.3em; /* should in em unit */
    --anchor-padding-block: 0.2em;
    --anchor-border-radius: 4px;
  }
}

/* NEOTOC STYLE */
/*
 Following are my recommended styles for Neotoc.
 Not using or changing some of them will break the design,
 while others are just stylistic preferences. Feel free
 to make changes for advanced customization.
*/

/** FOUNDATION **/

.nt-widget {
  background: var(--bg);
  font-size: 0.96em;
  line-height: 1.5;
  animation-name: fade-in;
  animation-duration: 1s;
  * {
    box-sizing: border-box;
    transition: background-color 0.15s;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li {
    border-radius: var(--anchor-border-radius);
  }
  li li {
    font-size: calc(var(--relative-font-size) * 1%);
  }
  svg {
    display: inline;
    vertical-align: middle;
    width: 100%;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.nt-body {
  padding-left: var(--padding-left);
  padding-block: 0.5rem;
  padding-right: 0.5rem;
  position: relative;
  max-height: calc(var(--height) - var(--header-height));
  transition: max-height 0.15s;
  overflow-y: auto;
  overflow-x: hidden;
  overscroll-behavior: contain;
}

.nt-foldable {
  display: grid;
  transition: grid-template-rows var(--folding-duration);
  grid-template-rows: 1fr;
  ul {
    transition: opacity var(--folding-duration),
      visibility var(--folding-duration);
  }
  > ul {
    overflow: clip;
    grid-row: 1 / span 2;
  }
}

.nt-foldable-folded {
  grid-template-rows: 0fr;
  ul {
    visibility: hidden;
    opacity: 0;
  }
}

.nt-non-foldable:has(> .nt-fold-indicator-line) {
  position: relative;
}

.nt-fold-indicator-line {
  margin: 0;
  width: 100%;
  border: none;
  border-top: 1px solid;
  border-image: linear-gradient(
      to right,
      transparent,
      var(--fold-indicator-gradient-mid),
      transparent
    )
    1;
  position: absolute;
  bottom: 0;
  z-index: 2;
  transition: opacity var(--folding-duration);
  opacity: 0;
}

.nt-toggle-fold-btn,
.nt-unfoldable-icon {
  color: var(--fg);
  grid-column: -3;
  padding-block: var(--anchor-padding-block);
  z-index: 1; /* to keep them above anchor and below the light bar's light */
}

.nt-toggle-fold-btn {
  padding-inline: 1px;
  cursor: pointer;
  svg {
    transition: transform var(--folding-duration);
    font-size: 0.8em;
    path {
      stroke-width: 2px;
    }
  }
}

.nt-toggle-fold-btn:first-child {
  border-top-left-radius: var(--anchor-border-radius);
  border-bottom-left-radius: var(--anchor-border-radius);
}

.nt-toggle-fold-btn:hover {
  background: var(--bg-toggle-fold-btn-hover);
}
.nt-toggle-fold-btn:active {
  background: var(--bg-toggle-fold-btn-active);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn:hover) {
  background: var(--bg-sub-anchors);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn:hover) > .nt-foldable .nt-a {
  background: var(--bg-sub-anchors);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-1:hover)
  .nt-indent-block:nth-child(1),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-2:hover)
  .nt-indent-block:nth-child(2),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-3:hover)
  .nt-indent-block:nth-child(3),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-4:hover)
  .nt-indent-block:nth-child(4),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-5:hover)
  .nt-indent-block:nth-child(5) {
  border-color: var(--indent-line-highlight);
}

.nt-toggle-fold-btn:hover + .nt-a {
  background-color: var(--bg-anchor-hover);
}

.nt-toggle-fold-btn-folded svg {
  transform: rotate(-90deg);
}

.nt-non-foldable {
  display: grid;
  grid-template-rows: 1fr;
}

.nt-non-foldable > * {
  grid-row: 1 / -1;
}

.nt-a {
  background: var(--bg);
  color: var(--fg);
  text-decoration: none;
  padding-block: var(--anchor-padding-block);
  padding-right: var(--anchor-padding-inline);
  border-radius: var(--anchor-border-radius);
  align-self: center;
  grid-column: 1 / -1;
  code {
    font-size: 1em;
  }
}

.nt-a:hover {
  background: var(--bg-anchor-hover);
}

.nt-a:active {
  background: var(--bg-anchor-active);
}

.nt-indent-block {
  transition: border-right calc(var(--folding-duration) / 2);
  border-right: var(--indent-line-width) solid var(--indent-line);
  z-index: 1;
}

.nt-indent-block,
.nt-unfoldable-icon {
  pointer-events: none;
}

.nt-indent-block:first-child {
  grid-column: 1 / 2;
}

.nt-indent-block:nth-child(2) {
  grid-column: 2 / 4;
}

.nt-indent-block:nth-child(3) {
  grid-column: 4 / 7;
}

.nt-indent-block:nth-child(4) {
  grid-column: 7 / 10;
}

.nt-indent-block:nth-child(5) {
  grid-column: 10 / 13;
}

/** HEADER **/

.nt-header {
  display: flex;
  padding-right: 0.5rem;
  padding-left: var(--padding-left);
  justify-content: space-between;
  gap: 1rem;
  align-items: flex-end;
  height: var(--header-height);
  padding-block: 0.55rem;
}

.nt-title {
  color: var(--fg);
  font-size: 1.1em;
  font-weight: 600;
  margin: 0;
}

.nt-btn-group {
  display: flex;
  flex-shrink: 0;
  border-radius: 4px;
  border: 1px solid var(--border-header-btn);
  overflow: hidden; /* easy fix for perfect rounded corner */
}

.nt-header-btn {
  font: inherit; /* for consistent button size across all browsers */
  color: var(--fg);
  background: var(--bg-header-btn);
  box-sizing: content-box;
  padding: 3px;
  border: none;
  cursor: pointer;
  svg {
    height: 1.4em;
    width: 1.4em;
    display: block;
  }
}

.nt-header-btn:not(:first-child) {
  border-left: 1px solid var(--border-header-btn);
}

.nt-header-btn:not([disabled]):hover {
  background: var(--bg-header-btn-hover);
}

.nt-header-btn:not([disabled]):active {
  background: var(--bg-header-btn-active);
}

.nt-header-btn[disabled] {
  color: var(--fg-header-btn-disabled);
  background: var(--bg-header-btn-disabled);
  cursor: default;
}

/** LIGHT BAR **/

.nt-light-bar {
  --terminal-side-length: calc(var(--light-bar-tip-radius) * 2);
  background: var(--light-bar);
  width: var(--light-bar-width);
  height: 0;
  position: absolute;
  left: calc(var(--padding-left) / 2 - var(--light-bar-width) / 2);
  z-index: 1;
}

.nt-light {
  background: linear-gradient(to left, transparent, var(--light-bar));
  width: var(--light-spread-length);
  height: 100%;
  opacity: var(--light-opacity);
  pointer-events: none;
  position: absolute;
  z-index: -1;
  left: var(--light-bar-width);
}

.nt-light-bar-top,
.nt-light-bar-bottom {
  background: var(--light-bar);
  width: var(--terminal-side-length);
  height: var(--terminal-side-length);
  border-radius: 50%;
  position: absolute;
  left: calc(
    (var(--terminal-side-length) / 2 * -1) + var(--light-bar-width) / 2
  );
}

.nt-light-bar-top {
  top: calc(var(--terminal-side-length) / 2 * -1);
}

.nt-light-bar-bottom {
  bottom: calc(var(--terminal-side-length) / 2 * -1);
}

.nt-light-bar-top.nt-on-fold,
.nt-light-bar-bottom.nt-on-fold {
  background: var(--light-bar-tip-on-fold);
  z-index: 1;
}

/** TOP AND BOTTOM SHADOWS **/

.nt-top-gradient,
.nt-bottom-gradient {
  width: 100%;
  height: 30px;
  transition: opacity 300ms;
  pointer-events: none;
  position: absolute;
  left: 0;
  z-index: 5;
}

.nt-top-gradient {
  opacity: 0;
  background: linear-gradient(to bottom, var(--bg), transparent);
}

.nt-bottom-gradient {
  opacity: 1;
  background: linear-gradient(to top, var(--bg), transparent);
}

/** ACCESSIBILITY **/
.nt-a:focus-visible {
  outline: none;
  background: var(--bg-anchor-hover);
}

.nt-toggle-fold-btn:focus-visible {
  outline: none;
  background: var(--bg-toggle-fold-btn-hover);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn:focus-visible) {
  background: var(--bg-sub-anchors);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn:focus-visible)
  > .nt-foldable
  .nt-a {
  background: var(--bg-sub-anchors);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-1:focus-visible)
  .nt-indent-block:nth-child(1),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-2:focus-visible)
  .nt-indent-block:nth-child(2),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-3:focus-visible)
  .nt-indent-block:nth-child(3),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-4:focus-visible)
  .nt-indent-block:nth-child(4),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-5:focus-visible)
  .nt-indent-block:nth-child(5) {
  border-color: var(--indent-line-highlight);
}

.nt-toggle-fold-btn:focus-visible + .nt-a {
  background-color: var(--bg-anchor-hover);
}

/** UTILITY CLASSES **/

.nt-opacity-1 {
  opacity: 1;
}

.nt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/** UNUSED CLASSES **/

/* Use the following classes to see if you like the result */

/*
- nt-enlightend-a: This class is dynamically only added to anchors in the TOC that refers to sections currently in view.
*/

/** EXTRA **/

:target {
  color: yellowgreen;
}
