.theme-colors {
  code {
    cursor: pointer;
  }
  code:hover {
    background: #008f11;
    color: #fff;
  }
}

.green-sample-color {
  background: #008f11;
  color: #fff;
  padding-inline: 4px;
  padding-block: 2px;
  border-radius: 4px;
}

:root:has(.--bg:hover) .nt-widget {
  --bg: #008f11;
}

:root:has(.--fg:hover) .nt-widget {
  --fg: #008f11;
  --fg-header-btn-disabled: #008f11;
}

:root:has(.--bg-anchor-\*:hover) .nt-a {
  background: #008f11;
}

:root:has(.--bg-sub-anchors:hover)
  .nt-widget
  li:has(> .nt-non-foldable > .nt-toggle-fold-btn) {
  background: #008f11;
}

:root:has(.--bg-sub-anchors:hover)
  .nt-widget
  li:has(> .nt-non-foldable > .nt-toggle-fold-btn)
  > .nt-foldable
  .nt-a {
  background: #008f11;
}

:root:has(.--bg-header-btn\*:hover) .nt-header-btn {
  background: #008f11;
}

:root:has(.--fg-header-btn-disabled:hover) .nt-header-btn {
  color: #008f11;
}

:root:has(.--border-header-btn:hover) .nt-widget {
  --border-header-btn: #008f11;
}

:root:has(.--bg-toggle-fold-btn-\*:hover) .nt-toggle-fold-btn {
  background: #008f11;
}

:root:has(.--indent-line\*:hover) .nt-widget {
  --indent-line: #008f11;
}

:root:has(.--fold-indicator-gradient-mid:hover) .nt-widget {
  --fold-indicator-gradient-mid: #008f11;
}

:root:has(.--light-bar:hover) .nt-widget {
  --light-bar: #008f11;
}

:root:has(.--light-bar-tip-on-fold:hover) .nt-light-bar-top,
:root:has(.--light-bar-tip-on-fold:hover) .nt-light-bar-bottom {
  background: #008f11;
}

:root:has(.--light-opacity:hover) .nt-light {
  background: linear-gradient(to left, transparent, #008f11);
}
