.nt-widget {
  --bg-color: orange;
  --text-color: black;
}

.nt-widget[data-theme="dark"] {
  --bg-color: #24283b;
  --text-color: #cdd6f4;
  --highlight-color: #b0bce8;
  --anchor-hover-bg-color: #41475e;
  --toggle-fold-btn-hover-bg-color: #606887;
  --item-scope-bg-color: #31364d;
  --indent-line-color: #4f5261;
  --indent-line-highlight-color: #818181;
}

.nt-widget {
  --font-size-percentage: 94;
  --toggle-fold-btn-width: 0.9em; /* should in em unit */
  --indent-line-gap: 5px; /* should be in px unit */
  --indent-line-width: 1px;
  --folding-duration: 300ms;
  --anchor-padding-block: 0.2em;
  --anchor-padding-inline: 0.3em;
  --anchor-border-radius: 4px;
  background: var(--bg-color);
  * {
    box-sizing: border-box;
  }
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  li li {
    font-size: calc(var(--font-size-percentage) * 1%);
  }
  svg {
    display: inline;
    vertical-align: middle;
    width: 100%;
  }
}

.nt-toc-holder {
  padding-block: 0.5rem;
  padding-left: 1rem;
  padding-right: 0.5rem;
  position: relative;
  height: calc(100vh - 5rem);
  overflow-y: auto;
  overscroll-behavior: contain;
}

.nt-toc-holder a {
  text-decoration: none;
}

.nt-foldable {
  display: grid;
  transition: grid-template-rows var(--folding-duration),
    border var(--folding-duration), background-color var(--folding-duration);
  grid-template-rows: 1fr;
}

.nt-foldable ul {
  transition: opacity var(--folding-duration),
    visibility var(--folding-duration);
}

.nt-foldable-folded {
  grid-template-rows: 0fr;
  ul {
    visibility: hidden;
  }
}

.nt-foldable-folded ul {
  opacity: 0;
}

.nt-foldable > ul {
  overflow: clip;
  grid-row: 1 / span 2;
}

.nt-non-foldable:has(> .nt-fold-indicator-line) {
  position: relative;
}

.nt-fold-indicator-line {
  margin: 0px;
  width: 100%;
  position: absolute;
  border: none;
  border-top: 1px solid gray;
  border-image: linear-gradient(
      to right,
      transparent,
      var(--toggle-fold-btn-hover-bg-color),
      transparent
    )
    1;
  bottom: 0;
  z-index: 2;
  opacity: 0;
  transition: opacity var(--folding-duration);
}

.nt-toggle-fold-btn {
  border: none;
  color: #eee;
  padding: 0;
  padding-inline: 1px;
  grid-column: -3;
  cursor: pointer;
  svg {
    transition: transform var(--folding-duration);
  }
}

.nt-opacity-1 {
  opacity: 1;
}

.nt-toggle-fold-btn,
.nt-unfoldable-icon {
  padding-block: var(--anchor-padding-block);
  z-index: 1;
}

.nt-toggle-fold-btn:first-child {
  border-top-left-radius: var(--anchor-border-radius);
  border-bottom-left-radius: var(--anchor-border-radius);
}

.nt-toggle-fold-btn:hover {
  background: var(--toggle-fold-btn-hover-bg-color);
}

.nt-root-ul li {
  border-radius: var(--anchor-border-radius);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn:hover) {
  background: var(--item-scope-bg-color);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-1:hover)
  .nt-indent-block:nth-child(1),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-2:hover)
  .nt-indent-block:nth-child(2),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-3:hover)
  .nt-indent-block:nth-child(3),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-4:hover)
  .nt-indent-block:nth-child(4),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-5:hover)
  .nt-indent-block:nth-child(5) {
  border-color: var(--indent-line-highlight-color);
}

.nt-toggle-fold-btn:hover + .nt-a {
  background-color: var(--anchor-hover-bg-color);
}

.nt-toggle-fold-btn-folded svg {
  transform: rotate(-90deg);
}

.nt-unfoldable-icon {
  color: #eee;
  grid-column: -3;
}

.nt-non-foldable {
  display: grid;
  grid-template-rows: 1fr;
}

.nt-non-foldable > * {
  /* background: rgba(23, 23, 12, 0.3); */
  grid-row: 1 / -1;
}

.nt-a {
  color: var(--text-color);
  align-self: center;
  grid-column: 1 / -1;
  padding-block: var(--anchor-padding-block);
  padding-right: var(--anchor-padding-inline);
  border-radius: var(--anchor-border-radius);
}

.nt-a:hover {
  background: var(--anchor-hover-bg-color);
}

.nt-indent-block {
  transition: border-right calc(var(--folding-duration) / 2);
  border-right: var(--indent-line-width) solid var(--indent-line-color);
  z-index: 1;
}

.nt-indent-block,
.nt-unfoldable-icon {
  /* if you remove this, clicking on the non anchor part of the non-foldable will not work as intended */
  pointer-events: none;
}

.nt-indent-block:first-child {
  grid-column: 1 / 2;
}

.nt-indent-block:nth-child(2) {
  grid-column: 2 / 4;
}

.nt-indent-block:nth-child(3) {
  grid-column: 4 / 7;
}

.nt-indent-block:nth-child(4) {
  grid-column: 7 / 10;
}

.nt-indent-block:nth-child(5) {
  grid-column: 10 / 13;
}

.nt-ellipsis {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.nt-top-bar {
  display: flex;
  padding: 0.5rem;
  padding-left: 1rem;
  justify-content: space-between;
  gap: 2px;
  .nt-title {
    font-size: 1.1em;
    margin: 0;
    font-weight: 500;
    align-self: end;
    color: var(--text-color);
  }
  .nt-btn-group {
    display: flex;
    align-self: end;
    transition: opacity 150ms;
    flex-shrink: 0;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    overflow: hidden;
    border: 1px solid var(--indent-line-highlight-color);
    .nt-top-bar-btn {
      color: var(--text-color);
      background-color: var(--anchor-hover-bg-color);
      box-sizing: content-box;
      padding: 3px;
      border: none;
      cursor: pointer;
      svg {
        display: block;
        height: 1.4em;
        width: 1.4em;
      }
    }
    .nt-top-bar-btn:not(:first-child) {
      border-left: 1px solid var(--indent-line-highlight-color);
    }
    .nt-top-bar-btn:not([disabled]):hover {
      background: var(--toggle-fold-btn-hover-bg-color);
      color: #eee;
    }
    .nt-top-bar-btn[disabled] {
      opacity: 0.3;
      cursor: default;
    }
  }
}

/* highlighted area start */
.nt-bar {
  --width: 1.5px;
  --terminal-side-length: 6px;
  background: var(--highlight-color);
  position: absolute;
  width: var(--width);
  height: 0px;
  left: 5px;
}

.nt-bar-light {
  width: 100px;
  height: 100%;
  background: linear-gradient(to left, transparent, var(--highlight-color));
  opacity: 0.2;
  pointer-events: none;
}

.nt-bar-bottom-indicator {
  background: var(--highlight-color);
  position: absolute;
  width: var(--terminal-side-length);
  height: var(--terminal-side-length);
  border-radius: 50%;
  bottom: calc(var(--terminal-side-length) / 2 * -1);
  left: calc(
    (var(--terminal-side-length) / 2 * -1) + var(--width) / 2
  ); /* -2px */
}

.nt-bar-top-indicator {
  background: var(--highlight-color);
  position: absolute;
  width: var(--terminal-side-length);
  height: var(--terminal-side-length);
  border-radius: 50%;
  top: calc(var(--terminal-side-length) / 2 * -1);
  left: calc(
    (var(--terminal-side-length) / 2 * -1) + var(--width) / 2
  ); /* -2px */
}

.nt-bar-top-indicator.nt-on-fold,
.nt-bar-bottom-indicator.nt-on-fold {
  background: white;
  z-index: 1;
}
/* highlighted area end */

/* top and bottom gradient overlays start*/
.nt-top-gradient,
.nt-bottom-gradient {
  position: absolute;
  width: 100%;
  height: 30px;
  left: 0;
  z-index: 1;
  transition: opacity 300ms;
  pointer-events: none;
}

.nt-top-gradient {
  opacity: 0;
  background: linear-gradient(to bottom, var(--bg-color), transparent);
}

.nt-bottom-gradient {
  opacity: 1;
  background: linear-gradient(to top, var(--bg-color), transparent);
}
/* top and bottom gradient overlays end*/

/* a11y start */
.nt-a:focus-visible {
  outline: none;
  background: var(--anchor-hover-bg-color);
}

.nt-toggle-fold-btn:focus-visible {
  outline: none;
  background: var(--toggle-fold-btn-hover-bg-color);
}

.nt-toggle-fold-btn:focus-visible + .nt-a {
  background-color: var(--anchor-hover-bg-color);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn:focus-visible) {
  background: var(--item-scope-bg-color);
}

li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-1:focus-visible)
  .nt-indent-block:nth-child(1),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-2:focus-visible)
  .nt-indent-block:nth-child(2),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-3:focus-visible)
  .nt-indent-block:nth-child(3),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-4:focus-visible)
  .nt-indent-block:nth-child(4),
li:has(> .nt-non-foldable > .nt-toggle-fold-btn.nt-level-5:focus-visible)
  .nt-indent-block:nth-child(5) {
  border-color: var(--indent-line-highlight-color);
}
/* a11y end */
