:root * {
  box-sizing: border-box;
}

:root {
  --bg: <bg-light>;
  --fg: black;
  --bg-overlay: hsl(from var(--bg) h s 90%);
  --border: hsl(from var(--bg) h s 76%);
  scroll-behavior: smooth;
  font-family: system-ui, sans-serif;
}

:root.dark {
  --bg: <bg-dark>;
  --fg: white;
  --bg-overlay: hsl(from var(--bg) h s 7%);
  --border: hsl(from var(--bg) h s 12%);
}

.disable-transitions * {
  transition: none !important;
}

body {
  margin: 0;
  background-color: var(--bg);
  color: var(--fg);
}

.wrapper {
  display: grid;
  grid-template-columns: 1fr minmax(0, 596px) 20px 320px 1fr;
}

article {
  padding-inline: 0.5rem;
  grid-column-start: 2;
}

nav {
  position: relative;
  grid-column-start: 4;
}

header {
  height: 3rem;
  background: var(--bg-overlay);
  border-bottom: 1px solid var(--border);
  position: sticky;
  top: 0;
  z-index: 10000;
}

.header-content {
  max-width: 1280px;
  padding-inline: 1rem;
  margin: 0 auto;
  height: 100%;
  display: flex;
  align-items: center;
}

.logo-and-title {
  display: flex;
  align-items: center;
  a {
    display: flex;
    align-items: center;
  }
}

.heading-title {
  margin-left: 0.8rem;
}

.logo-img-light {
  display: inline-block;
}

:root.dark .logo-img-light {
  display: none;
}

.logo-img-dark {
  display: none;
}

:root.dark .logo-img-dark {
  display: inline-block;
}

#toggle-theme-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  color: var(--fg);
  margin-left: auto;
}

.dark-mode-text,
.light-mode-text {
  padding: 2px;
  margin: 2px;
  width: 35px;
  display: inline-block;
}

.dark .dark-mode-text {
  text-decoration: underline;
}

.light .light-mode-text {
  text-decoration: underline;
}

@media (max-width: 767px) {
  .wrapper {
    grid-template-columns: 1fr;
  }

  article {
    grid-column-start: 1;
    min-width: 100%;
  }

  nav {
    position: fixed;
    width: 70vw;
    top: 3rem;
    right: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 2rem;
  margin-bottom: 0;
  scroll-margin-top: 4rem;
}

h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3 {
  font-size: 1.5rem;
}
h4,
h5,
h6 {
  font-size: 1.1rem;
}

p {
  line-height: 1.8rem;
}

.intro-para {
  margin-top: 2rem;
}

hr {
  margin-block: 3rem;
  border: none;
  border-top: 1px solid var(--border);
}

code,
pre {
  font-family: Consolas, Menlo, monospace;
  font-size: 0.9rem;
  background: hsl(from var(--bg) h s calc(l - 5));
}

:root.dark {
  code,
  pre {
    background: hsl(from var(--bg) h s calc(l + 5));
  }
}

code {
  padding-block: 3px;
  padding-inline: 6px;
  border-radius: 5px;
}

pre {
  padding: 1rem;
  margin-block: 1.2rem;
  border-radius: 5px;
  overflow: auto;
}

table {
  width: 100%;
  max-width: 800px;
  margin: 2rem auto;
  border-collapse: collapse;
}

thead {
  background: var(--bg);
}

th {
  padding: 0.45rem;
  text-align: center;
  font-weight: 600;
  border-bottom: 1px solid var(--border);
}

td {
  padding: 0.45rem 0.5rem;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--border);
}

td:not(:first-child),
th:not(:first-child) {
  border-left: 1px solid var(--border);
}
