.nt-widget {
  --body-height: calc(100vh - 8rem);
  position: sticky;
  top: 4rem;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
  font-size: 0.85em;

  /* This class is applied to the building blocks of indent lines */
  .nt-indent-block {
    transition: opacity 0.15s;
    opacity: 0;
  }
}

.nt-widget:hover .nt-indent-block {
  opacity: 1;
}

@media (max-width: 767px) {
  .nt-widget {
    --body-height: calc(50vh);
    border: 1px solid var(--border);
    border-radius: 0;
    border-top: none;
    border-right: none;
    border-bottom-left-radius: 10px;
  }
}
